body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-color: #414141;
}

h1{
    color: #fff;
    font-size: "Lexend Deca Lighyt";
    font-size: 4rem;
}

span{
    color: chocolate;
}
#card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}


.card{
    width: 10rem;
    height: 10rem;
    background-color: var(--bg-main);
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.card-selected{
    border: 2px solid orangered;
}