* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
  
  body {
  background: linear-gradient(135deg, #151515, #151515);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  color: #fff;
  }
  
  h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  }
  
  input {
  width: 70%;
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #151515;
  }
  
  button {
  padding: 10px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background-color: #171818;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  }
  
  button:hover {
  background-color: #000000;
  }
  
  .weather-info {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px 20px;
  text-align: left;
  color: rgb(241, 241, 241);
  }
  
  .weather-info h2 {
  font-size: 16px;
  margin-bottom: 10px;
  justify-content: space-between;
  }
  
p{
  text-align: left;
}
h2{
  text-align: left
}

#location,
#temperature,
#description,
#temp_min,
#temp_max,
#pressure,
#humidity,
#speed,
#country {
  display: flex;
  justify-content: space-between; /* separates label & value */
  width: 100%;
  max-width: 400px; /* adjust as needed */
  margin: 4px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.left {
  font-weight: 600;
  color: rgb(223, 195, 14);
}

.right {
  color: #ffffff;
}

  .weather-info p {
  margin: 6px 0;
  font-size: 1rem;
  }
  
  /* Responsive */
  @media (max-width: 480px) {
  .container {
  padding: 30px 20px;
  }
  
  input {
  width: 100%;
  margin-bottom: 10px;
  }
  
  button {
  width: 100%;
  margin: 0;
  }
  }
  